version: '3.8'

services:
  # -----------------------------
  # 1. Database (PostgreSQL)
  # -----------------------------
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app-network

  # -----------------------------
  # 2. Object Storage (MinIO)
  # -----------------------------
  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    ports:
      - "9000:9000" # API Port
      - "9001:9001" # Console UI Port
    volumes:
      - minio_data:/data
    networks:
      - app-network

  # -----------------------------
  # 3. Backend (NodeAPI)
  # -----------------------------
  nodeapi:
    build: ./nodeapi
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - DB_HOST=${DB_HOST}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - DB_NAME=${DB_NAME}

      - MINIO_ENDPOINT=${MINIO_ENDPOINT}
      - MINIO_ROOT_USER=${MINIO_ROOT_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
      - MINIO_BUCKET=${MINIO_BUCKET}
      - MINIO_GEORASTER_BUCKET=layers
    depends_on:
      - db
      - minio
    networks:
      - app-network

  # -----------------------------
  # 4. Frontend (WebApp)
  # -----------------------------
  webapp:
    build: ./webapp
    restart: unless-stopped
    ports:
      - "8080:80"
    depends_on:
      - nodeapi
    networks:
      - app-network

# Define Networks
networks:
  app-network:
    driver: bridge

# Define Volumes
volumes:
  pgdata:
  minio_data:
